
.map-canvas { 
    height: 500px;
    width: 100%;
    margin: 0; 
    padding: 0;
}

div#map-options div.col-md-3 {
   background-color: #f7f7f9;
   border: 1px solid #e1e1e8; 
   margin-left: 20px;
   margin-top: 5px;
   height: 450px;
   padding: 5px;
}

div#map-options div.row {
 margin-bottom: 10px;
 margin-top: 5px;
}

div#map-options label.btn {
   width: 100%;
   font-size: 12px;
   text-align: left;
}

div.resultado-ocorrencia {
    margin-bottom: 5px;
    padding: 2px;
    background-color: #8585AD;
    color: #FFFFFF;
}


div.resultado-ocorrencia:nth-child(2n) {
    margin-bottom: 5px;
    padding: 2px;
    background-color: #5C5C8A;
    color: #FFFFFF;
}
